.delivery_info_section{
  width: 70vw;
  height: 20vh;
  margin: 2rem auto;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.element_delivery{
  width: inherit;
  height: 15vh;
  border-right: 1px solid grey;
  padding: 1rem;
}
.element_delivery:last-child{
  border-right: none;
}
.element_delivery p{
  margin: 0;
  padding: 0;
}
.element_delivery h3{
  margin-top: 0;
}
@media only screen and (max-device-width : 590px) {
  .delivery_info_section{
    width: 90%;
    flex-direction: column;
    height: inherit;
  }
  .element_delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: none;
    border-bottom: 1px solid grey;
    padding-bottom: 1rem;
  }
  .element_delivery div{
    margin-bottom: 1rem;
  }
  .element_delivery:last-child{
    border-bottom: none;
  }
}
@media only screen and (min-device-width : 591px) and (max-device-width : 699px) {
  .delivery_info_section{
    width: 95%;
    height: 25vh;
  }
  .element_delivery{
    padding: .5rem;
    height: 20vh;
  }
  .element_delivery div{
    margin-bottom: 1rem;
  }
}
@media only screen and (min-device-width : 700px) and (max-device-width : 1260px) {
  .delivery_info_section{
    width: 90%;
    height: 25vh;
  }
}
