@font-face {
  font-family: 'Gill Sans Std Light';
  src: local('Gill Sans Std Light'), url(../fonts/GillSansStd-Light.otf) format('truetype');
}
body{
  font-family: 'Gill Sans Std Light', Helvetica Neue;
  color: #212348;
}
.all-info-shoppingcart{
  width: 100%;
  height: 70vh;
  margin: 1rem 0;
}
