@font-face {
  font-family: 'Gill Sans Std Light';
  src: local('Gill Sans Std Light'), url(../fonts/GillSansStd-Light.otf) format('truetype');
}
body{
  font-family: 'Gill Sans Std Light', Helvetica Neue;
  color: #202446;
}
.all-info-shoppingcart{
  margin: 1rem auto;
  width: 90%;
  height: 55vh;
  display: flex;
  justify-content: space-evenly;
}
/* Début HelpSection.js */
.help_dropdown{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.help_dropdown div{
  margin: 0;
  padding: 1rem 0;
  width: 100%;
}
/* icone du chevron ouvrant les détails */
.help_dropdown div span{
  font-size: 1.5rem;
}
.help_dropdown div p{
 width: inherit;
}
/* Début TotalPrice.js */
.total-section{
  width: 70%;
  margin: 2rem auto;
}
.price-container-centered{
  width: 8vw;
  margin: 0 auto;
}
.price-container-centered p{
  display: flex;
  justify-content: space-between;
}
.total{
  font-weight: 600;
  font-size: 1.1rem;
}
/* Debut VisaCb.js */
.visa-cb{
  flex-direction: row;
  justify-content: flex-start;
  height: 5vh;
}
.visa-cb img{
  width: 5rem;
}
@media only screen and (max-device-width : 800px) {
  .all-info-shoppingcart{
    flex-direction: column;
    height: inherit;
  }
  .help_dropdown,
  .total-section{
    width: 90%;
  }
  .visa-cb{
    width: 90%;
    height: 4rem;
  }
  .price-container-centered{
    width: 90%;
  }
}
@media only screen and (min-device-width : 801px) and (max-device-width : 1000px) {
  .all-info-shoppingcart{
    width: 95%;
    margin: 0 auto;
    padding: 0;
    height: inherit;
  }
  .help_dropdown,
  .total-section{
    width: 80%;
  }
  .price-container-centered{
    width: 70%;
  }
}
@media only screen and (min-device-width : 1001px) and (max-device-width : 1600px) {
  .all-info-shoppingcart{
    width: 90%;
    height: inherit;
  }
  .price-container-centered{
    width: 60%;
  }
}
