@font-face {
  font-family: 'Gill Sans Std Light';
  src: local('Gill Sans Std Light'), url(../fonts/GillSansStd-Light.otf) format('truetype');
}
body{
  font-family: 'Gill Sans Std Light', Helvetica Neue;
  color: #212348;
}
.all-info-shoppingcart{
  margin: 1rem auto;
  width: 90%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
}
