.banner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
   width: 70%;
   text-align: center;
   border-bottom: 1px solid #212348;
   line-height: 0.1em;
   margin: 0 auto;
   letter-spacing: 3px;
   font-weight: 400;
}
h2:first-child{
  margin-top: 15rem;
}

h2 span {
  background-color:#fff;
  color: #212348;
  margin: 0 5rem;
  padding:0 5rem;
}
.zigzag-line{
  width: 7vw;
  margin-top: 2rem;
}
@media only screen and (min-device-width : 320px) and (max-device-width : 550px) {
  .banner-container{
    margin: 1rem 0;
    height: inherit;
  }
  .zigzag-line{
    width: 50vw;
    margin-top: 0;
  }
  h2 {
    width: 100%;
    line-height: 1px;
  }
  h2:first-child{
    margin-top: 10rem;
  }
  h2 span{
    display: inline-block;
    line-height: 1.5rem;
    margin: 0 1rem;;
    padding: 0 1rem;
    font-size: 1.5rem;
    letter-spacing: 3px;
  }
}
@media only screen and (min-device-width : 551px) and (max-device-width : 800px) {
  .zigzag-line{
    width: 30vw;
    margin-top: .5rem;
  }
  h2{
    width: 90%;
  }
  h2 span{
    margin: 0 2rem;
    padding: 0 2rem;
    line-height: 1.2rem;
  }
}
@media only screen and (min-device-width : 801px) and (max-device-width : 1200px) {
  h2:first-child{
    margin-top: 2rem;
  }
  h2{
    width: 90%;
  }
  .zigzag-line{
    width: 20vw;
    margin-top: 1rem;
  }
}
