.banner-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h2 {
   width: 70%;
   text-align: center;
   border-bottom: 1px solid #212348;
   line-height: 0.1em;
   margin: 0 auto;
   letter-spacing: 3px;
   font-weight: 400;
}
h2:first-child{
  margin-top: 4rem;
}

h2 span {
  background-color:#fff;
  color: #212348;
  margin: 0 5rem;
  padding:0 5rem;
}
.zigzag-line{
  width: 7vw;
  margin-top: 2rem;
}
