#link1{
  position: relative;
  display: inline-block;
}
.dropdown-link-div{
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 11rem;
  z-index: 1;
}
.dropdown-link{
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Gill Sans Std Light', Helvetica Neue;
  color: #212348;
  text-align: justify;
  margin: .3rem;
  padding: .5rem;
}
.dropdown-link:hover{
  background-color: #f1f1f1
}
#link1:hover .dropdown-link-div{
  display: block;
}
.dropdownIcon{
  position: relative;
  top: .3rem;
  color: #E0DEDA;
}
