.container_nav{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 15vh;
  border-bottom: 1px solid #d7d7d7;
  box-shadow: 1px 2.5px 2px 2.5px #ebebeb;
  background-color: #fff;
  margin-bottom: 10rem;
}
.list{
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}
.burger{
  display: none;
  position: absolute;
  left: 10px;
  top: 7px;
  color: #000;
  font-size: 1rem;
}
.navbar-text{
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #202446;
}
.text-logo{
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.text-logo img{
  width: 12rem;
  margin: .5rem auto;
}
.shopping-logo{
  z-index: 1;
  position: absolute;
  right: 0;
  top: 0;
  width: 7rem;
}

@media only screen and (max-device-width : 500px) {
  .mobile-logo{
  }
  .list{
    flex-direction: column;
    height: auto;
  }
  .burger{
    display: block;
    font-size: 3.5rem;
    padding: .5rem;
    color: #202446;
  }
  .list:first-child{
    /* border-top:  */
  }
}
@media only screen and (min-device-width : 501px) and (max-device-width : 980px){

}
@media only screen and (min-device-width : 681px){
  .logo_container span{
    font-size: inherit;
  }
}
@media only screen and (min-device-width : 1001px) and (max-device-width : 1400px) {
  .navbar-text{
    font-size: 1rem;
  }
}
