.shopping-section{
  position: relative;
  float: right;
  width: 30vw;
  display: flex;
  flex-direction: column;
  color: #212348;
}
.article-quantity{
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: lighter;
}
.article-container{
  display: flex;
  height: 8rem;
  margin: 1rem;
  padding: .5rem;
  box-shadow: 2.5px 2.5px 5px 5px #ebebeb;
}
.article-container img{
  margin: .5rem;
}
.article-text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-text-container p{
  margin: 0;
}
.article-text-container p:first-child{
  font-size: 1.4rem;
  margin: .3rem 0;
}
.article-text-container p:nth-child(2){
  font-size: 1.3rem;
  margin: .5rem 0;
  margin-bottom: 1rem;
}
.font-light{
  font-weight: lighter;
}
