.shopping-section{
  position: relative;
  float: right;
  width: 30vw;
  display: flex;
  flex-direction: column;
  color: #212348;
}
.article-quantity{
  margin-bottom: 0;
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: lighter;
}
.article-container{
  display: flex;
  height: 8rem;
  margin: 1rem;
  padding: .5rem;
  box-shadow: 2.5px 2.5px 5px 5px #ebebeb;
}
.article-container img{
  margin: .5rem;
}
.article-text-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.article-text-container p{
  margin: 0;
}
.article-text-container p:first-child{
  font-size: 1.4rem;
  margin: .3rem 0;
}
.article-text-container p:nth-child(2){
  font-size: 1.3rem;
  margin: .5rem 0;
  margin-bottom: 1rem;
}
.font-light{
  font-weight: lighter;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 550px) {
  .shopping-section{
    width: 100%;
    height: inherit;
  }
  .shopping-section-wraper{
    /* height: 100vh; */
    margin: 2rem 0;
    margin-top: 10rem;
  }
  .article-container{
    width: 90%;
  }
  .article-text-container p:first-child{
    font-size: 1rem;
  }
  .article-text-container p:nth-child(2){
    font-size: .9rem;
  }
}
@media only screen and (min-device-width : 501px) and (max-device-width : 800px) {
  .shopping-section{
    width: 100%;
    height: inherit;
  }
  .shopping-section-wraper{
    /* height: 100vh; */
    margin: 2rem 0;
    margin-top: 10rem;
  }
  .article-container{
    width: 90%;
  }
  .article-text-container p:first-child{
    font-size: 1rem;
  }
  .article-text-container p:nth-child(2){
    font-size: .9rem;
  }
}
@media only screen and (min-device-width : 801px) and (max-device-width : 1000px) {
  .shopping-section{
    width: 90%;
  }
  .article-text-container p:first-child{
    font-size: 1.2rem;
  }
  .article-text-container p:nth-child(2){
    font-size: 1rem;
  }
}
@media only screen and (min-device-width : 1001px) and (max-device-width : 1400px) {
  .shopping-section{
    width: 85%;
  }
  .article-text-container p:first-child{
    font-size: 1.3rem;
  }
}
