.nav_img{
  margin: 0;
  padding: 0;
}
/* logo avec le text */
#img0{
  width: 15rem;
}
/* logo-ourse */
#img4{
  width: 9rem;
}
/* logo panier d'achat */
#img9{
  width: 7rem;
}
@media only screen and (min-device-width : 1001px) and (max-device-width : 1400px) {
  #img0{
    width: 6rem;
  }
  #img4{
    width: 4rem;
  }
  #img9{
    width: 3rem;
  }
}
@media only screen and (min-device-width : 1401px) and (max-device-width : 1600px) {
  #img0{
    width: 8rem;
  }
  #img4{
    width: 6rem;
  }
  #img9{
    width: 5rem;
  }
}
